
<!DOCTYPE html>
<html>
<head>
<style>body  {
    background-image: url("/smoking.jpg");
    background-size: cover;
  } </style>
<link rel="stylesheet" href="/stylesheets/show.css"/></head>

<h1 align="left"><%=@client.name%></h1>
<h3>Email: <%=@client.email%></h3><br>
<h3>Current Tattoo: <%=@client.tattoo%></h3>
<a href="/clients/<%=@client.id%>/edit"><h3>Update</h3></a>


 <form  action="/clients/<%= @client.id %>" method="post">
<input  id="hidden" type="hidden" name="_method"  value="delete">
<input type="submit" value="delete" style="width:85px; height:30px" >
 </form>

 </html>